<app-navbar [title]="'Nombre del Ciudadano'"></app-navbar>
<ion-content>
  <div class="grid-wrapper">
    <ion-grid class="grid-center">
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="10">
          <div class="contenedor-formulario">
            <ion-header>
              <ion-toolbar class="cabeza">
                <ion-title class="titulo-formulario">Agregar Cargo</ion-title>
              </ion-toolbar>
            </ion-header>

            <ion-grid class="grid-formulario">
              <!-- Campos de cargo (solo visual) -->
              <ion-row>
                <!-- Orden -->
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Orden</ion-label>
                    <ion-select>
                      <ion-select-option>Primer</ion-select-option>
                      <ion-select-option>Segundo</ion-select-option>
                      <ion-select-option>Tercer</ion-select-option>
                      <ion-select-option>Cuarto</ion-select-option>
                      <ion-select-option>Quinto</ion-select-option>
                      <ion-select-option>Sexto</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>

                <!-- Nombre -->
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Nombre</ion-label>
                    <!-- Dependiendo del orden, los cargos en nombre cambiarán -->
                    <ion-select>
                      <ion-select-option>Cargo 1</ion-select-option>
                      <ion-select-option>Cargo 2</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>

                <!-- Fecha Inicio -->
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <!-- El stacked evita el Inicio quede pegado con el dd/mm/aaaa del input -->
                    <ion-label position="stacked">Inicio</ion-label>
                    <ion-input #fechaInicioInput type="date">
                      <ion-icon slot="end" name="calendar" class="calendar-icon"
                        (click)="abrirSelectorFecha(fechaInicioInput)">
                      </ion-icon>
                    </ion-input>
                  </ion-item>
                </ion-col>

                <!-- Fecha Fin -->
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label position="stacked">Fin</ion-label>
                    <ion-input #fechaFinInput type="date">
                      <ion-icon slot="end" name="calendar" class="calendar-icon"
                        (click)="abrirSelectorFecha(fechaFinInput)">
                      </ion-icon>
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <!-- Estado -->
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Estado</ion-label>
                    <ion-select>
                      <ion-select-option>Completado</ion-select-option>
                      <ion-select-option>En Curso</ion-select-option>
                      <ion-select-option>Inconcluso</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

            <!-- Botones -->
            <div class="boton-contenedor">
              <ion-button class="boton-volver" (click)="volver()">Volver</ion-button>
              <ion-button class="boton-registrar" disabled>Actualizar</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<app-footer></app-footer>
