<app-navbar [title]="'Agregar Cargo'"></app-navbar>
<ion-content>
  <div class="grid-wrapper">
    <ion-grid class="grid-center">
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="10">
          <div class="contenedor-formulario">
            <ion-header>
              <ion-toolbar class="cabeza">
                <ion-title class="titulo-formulario">Agregar Cargo</ion-title>
              </ion-toolbar>
            </ion-header>

            <ion-grid class="grid-formulario">
              <ion-item>
                <ion-label>Orden</ion-label>
                <ion-select [(ngModel)]="ordenSeleccionadoId" placeholder="Selecciona un orden"
                  (ionChange)="onOrdenSeleccionado()">
                  <ion-select-option *ngFor="let orden of ordenesDisponibles" [value]="orden.id">
                    {{ orden.order_name }} ({{ orden.required_points }} puntos)
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="serviciosDisponibles.length > 0">
                <ion-label>Servicio</ion-label>
                <ion-select [(ngModel)]="servicioSeleccionadoId" placeholder="Selecciona un servicio">
                  <ion-select-option *ngFor="let servicio of serviciosDisponibles" [value]="servicio.id">
                    {{ servicio.service_name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <!-- Fecha Inicio -->
              <ion-row>
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label position="stacked">Inicio</ion-label>
                    <ion-input type="date" [(ngModel)]="start_date" #fechaInicioInput>
                      <ion-icon slot="end" name="calendar" class="calendar-icon"
                        (click)="abrirSelectorFecha(fechaInicioInput)"></ion-icon>
                    </ion-input>
                  </ion-item>
                </ion-col>

              </ion-row>


              <!-- Observaciones -->
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label position="stacked">Observaciones</ion-label>
                    <ion-input type="text" [(ngModel)]="observations"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

            <!-- Botones -->
            <div class="boton-contenedor">
              <ion-button class="boton-volver" (click)="volver()">Volver</ion-button>
              <ion-button class="boton-registrar" (click)="asignarServicio()"
                [disabled]="!servicioSeleccionadoId || !start_date">Asignar Servicio</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>