<app-navbar *ngIf="ciudadano" [title]="ciudadano.name + ' ' + ciudadano.last_name_father + ' ' + ciudadano.last_name_mother"></app-navbar>

<ion-content>
  <div class="grid-wrapper">
    <ion-grid class="grid-center">
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="10">
          <div class="contenedor-formulario">
            <ion-header>
              <ion-toolbar class="cabeza">
                <ion-title class="titulo-formulario">Editar Datos Generales</ion-title>
              </ion-toolbar>
            </ion-header>

            <form>
              <ion-grid class="grid-formulario">
                <ion-row>
                  <ion-col sizeXs="12" sizeSm="12" sizeMd="4">
                    <ion-label class="etiqueta" position="floating">Nombres</ion-label>
                    <ion-input type="text" [(ngModel)]="ciudadano.name" name="name"></ion-input>
                  </ion-col>
                  <ion-col sizeXs="12" sizeSm="12" sizeMd="4">
                    <ion-label class="etiqueta" position="floating">Apellido Paterno</ion-label>
                    <ion-input type="text" [(ngModel)]="ciudadano.last_name_father" name="last_name_father"></ion-input>
                  </ion-col>
                  <ion-col sizeXs="12" sizeSm="12" sizeMd="4">
                    <ion-label class="etiqueta" position="floating">Apellido Materno</ion-label>
                    <ion-input type="text" [(ngModel)]="ciudadano.last_name_mother" name="last_name_mother"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col sizeXs="12" sizeSm="12" sizeMd="4">
                    <ion-label class="etiqueta" position="floating">Teléfono</ion-label>
                    <ion-input type="tel" [(ngModel)]="ciudadano.phone" name="phone" maxlength="10" inputmode="numeric" (ionInput)="filtrarTelefono($event)"></ion-input>
                  </ion-col>
                  <ion-col sizeXs="12" sizeSm="12" sizeMd="4">
                    <ion-label class="etiqueta" position="floating">Fecha de Nacimiento</ion-label>
                    <ion-input type="date" #fechaInput [(ngModel)]="ciudadano.birth_date" name="birth_date"></ion-input>
                  </ion-col>
                  <ion-col sizeXs="12" sizeSm="12" sizeMd="4">
                    <ion-label class="etiqueta" position="floating">Estado Civil</ion-label>
                    <ion-select [(ngModel)]="estadoCivil" name="marital_status" (ionChange)="onEstadoCivilChange()">
                      <ion-select-option value="Soltero">Soltero</ion-select-option>
                      <ion-select-option value="Casado">Casado</ion-select-option>
                      <ion-select-option value="Divorciado">Divorciado</ion-select-option>
                      <ion-select-option value="Viudo">Viudo</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>

                <ion-row *ngIf="estadosConPareja.includes(estadoCivil)">
                  <ion-col size="12">
                    <ion-label class="etiqueta" position="floating">
                      {{
                        estadoCivil === 'Casado' ? 'Seleccione Pareja' :
                        estadoCivil === 'Divorciado' ? 'Seleccione Expareja' :
                        estadoCivil === 'Viudo' ? 'Seleccione Cónyuge Fallecido' : ''
                      }}
                    </ion-label>
                    <ion-select [(ngModel)]="parejaSeleccionada" name="partner" placeholder="Seleccione pareja" (ionChange)="verificarSeleccion()">
                      <ion-select-option *ngFor="let persona of personasDisponibles" [value]="persona">
                        {{ persona.name }} {{ persona.last_name_father }} {{ persona.last_name_mother }}
                      </ion-select-option>
                      <ion-select-option value="registrar">
                        ¿Pareja no encontrada? Regístrela
                      </ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>

            <div class="boton-contenedor">
              <ion-button class="boton-volver" (click)="volver()">Volver</ion-button>
              <ion-button class="boton-registrar" (click)="actualizarCiudadano()">Actualizar</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<app-footer></app-footer>

<!-- Formulario emergente para registrar pareja -->
<div class="overlay-pareja" *ngIf="mostrarFormularioPareja" (click)="cerrarFormularioPareja()">
  <ion-card class="formulario-emergente tarjeta-flotante" (click)="$event.stopPropagation()">
    <ion-card-header style="background-color: black;">
      <ion-card-title style="color: white; text-align: center;">Registrar Pareja</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6">
            <ion-label class="etiqueta" position="floating">Nombres</ion-label>
            <ion-input type="text"></ion-input>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6">
            <ion-label class="etiqueta" position="floating">Apellido Paterno</ion-label>
            <ion-input type="text"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6">
            <ion-label class="etiqueta" position="floating">Apellido Materno</ion-label>
            <ion-input type="text"></ion-input>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6">
            <ion-label class="etiqueta" position="floating">Teléfono</ion-label>
            <ion-input type="tel"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6">
            <ion-label class="etiqueta" position="floating">Fecha de Nacimiento</ion-label>
            <ion-input name="fechaNacimiento" #fechaInput type="date" placeholder="dd/mm/aaaa"></ion-input>
          </ion-col>
          <ion-col sizeXs="12" sizeSm="12" sizeMd="6">
            <ion-label class="etiqueta" position="floating">Estado Civil</ion-label>
            <ion-select placeholder="Seleccione estado civil">
              <ion-select-option value="Soltero">Soltero</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
    <div class="boton-contenedor">
      <ion-button class="boton-volver" (click)="cerrarFormularioPareja()">Cancelar</ion-button>
      <ion-button class="boton-registrar" disabled>Registrar</ion-button>
    </div>
  </ion-card>
</div>
