<app-navbar *ngIf="ciudadano"
  [title]="ciudadano.name + ' ' + ciudadano.last_name_father + ' ' + ciudadano.last_name_mother"></app-navbar>

<ion-content>
  <div class="grid-wrapper">
    <ion-grid class="grid-center">
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="10">
          <div class="contenedor-formulario">
            <ion-toolbar class="cabeza">
              <ion-title class="titulo-formulario">Editar Datos Generales</ion-title>
            </ion-toolbar>

            <form>
              <ion-grid class="grid-formulario">
                <ion-row>
                  <ion-col size="12" size-md="4">
                    <div class="campo">
                      <label class="etiqueta">Nombres</label>
                      <ion-input (keypress)="soloLetras($event)" type="text" [(ngModel)]="ciudadano.name"
                        name="name"></ion-input>
                    </div>
                  </ion-col>
                  <ion-col size="12" size-md="4">
                    <div class="campo">
                      <label class="etiqueta">Apellido Paterno</label>
                      <ion-input (keypress)="soloLetras($event)" type="text" [(ngModel)]="ciudadano.last_name_father"
                        name="last_name_father"></ion-input>
                    </div>
                  </ion-col>
                  <ion-col size="12" size-md="4">
                    <div class="campo">
                      <label class="etiqueta">Apellido Materno</label>
                      <ion-input (keypress)="soloLetras($event)" type="text" [(ngModel)]="ciudadano.last_name_mother"
                        name="last_name_mother"></ion-input>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" size-md="4">
                    <div class="campo">
                      <label class="etiqueta">Teléfono</label>
                      <ion-input (keypress)="soloNumeros($event)" type="tel" [(ngModel)]="ciudadano.phone" name="phone"
                        maxlength="10" inputmode="numeric" (ionInput)="filtrarTelefono($event)"></ion-input>
                    </div>
                  </ion-col>
                  <ion-col size="12" size-md="4">
                    <div class="campo">
                      <label class="etiqueta">Fecha de Nacimiento</label>
                      <ion-input type="date" #fechaInput [(ngModel)]="ciudadano.birth_date" name="birth_date"
                        placeholder="dd/mm/aaaa">
                        <ion-icon slot="end" name="calendar" class="calendar-icon"
                          (click)="abrirSelectorFecha(fechaInput)">
                        </ion-icon>
                      </ion-input>
                    </div>
                  </ion-col>
                  <ion-col size="12" size-md="4">
                    <div class="campo">
                      <label class="etiqueta">Estado Civil</label>
                      <ion-select [(ngModel)]="estadoCivil" name="marital_status" (ionChange)="onEstadoCivilChange()">
                        <ion-select-option [value]="1">Soltero</ion-select-option>
                        <ion-select-option [value]="2">Casado</ion-select-option>
                      </ion-select>
                    </div>
                  </ion-col>
                  <ion-col size="12" size-md="4">
                    <div class="campo">
                      <label class="etiqueta">Comentario</label>
                      <ion-input type="text" [(ngModel)]="ciudadano.comment" name="comment" maxlength="255"></ion-input>
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row *ngIf="estadosConPareja.includes(estadoCivil)">
                  <ion-col size="12">
                    <ion-label class="etiqueta" position="floating">
                      {{
                      estadoCivil === 2 ? 'Seleccione Pareja' :''
                      }}
                    </ion-label>
                    <ion-item>
                      <ion-label position="stacked">Pareja seleccionada</ion-label>
                      <ion-button expand="block" class="boton-seleccionar-pareja"
                        (click)="mostrarBuscadorPareja = !mostrarBuscadorPareja">
                        {{ parejaSeleccionada ? parejaSeleccionada.name + ' ' + parejaSeleccionada.last_name_father + '
                        ' + parejaSeleccionada.last_name_mother : 'Seleccionar pareja' }}
                      </ion-button>
                    </ion-item>
                    <!-- Buscador tipo modal inline -->
                    <div *ngIf="mostrarBuscadorPareja" class="buscador-contenedor">
                      <ion-searchbar [value]="busquedaPareja" (ionInput)="filtrarPersonasDirecto($event)"
                        placeholder="Buscar ciudadano">
                      </ion-searchbar>

                      <ion-list>
                        <ion-button expand="block" class="boton-registrar-pareja"
                          (click)="seleccionarPareja('registrar')">
                          ¿Pareja no encontrada? Regístrela
                        </ion-button>
                        <ion-item *ngFor="let persona of personasDisponibles" (click)="seleccionarPareja(persona)">
                          {{ persona.name }} {{ persona.last_name_father }} {{ persona.last_name_mother }}
                        </ion-item>

                      </ion-list>
                    </div>

                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>

            <div class="boton-contenedor">
              <ion-button class="boton-volver" (click)="volver()">Volver</ion-button>
              <ion-button class="boton-registrar" (click)="actualizarCiudadano()">Actualizar</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<!-- Formulario emergente para registrar pareja -->
<div class="overlay-pareja" *ngIf="mostrarFormularioPareja" (click)="cerrarFormularioPareja()">
  <ion-card class="formulario-emergente tarjeta-flotante" (click)="$event.stopPropagation()">
    <ion-card-header class="modal-cabeza">
      <ion-card-title class="modal-titulo">Registrar Pareja</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-row>
          <ion-col size="12" size-md="6">
            <div class="campo">
              <label class="etiqueta">Nombres</label>
              <ion-input (keypress)="soloLetras($event)" type="text" [(ngModel)]="nombresPareja"
                name="modal_name"></ion-input>
            </div>
          </ion-col>
          <ion-col size="12" size-md="6">
            <div class="campo">
              <label class="etiqueta">Apellido Paterno</label>
              <ion-input (keypress)="soloLetras($event)" type="text" [(ngModel)]="apellidoPaternoPareja"
                name="modal_last_name_father"></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-md="6">
            <div class="campo">
              <label class="etiqueta">Apellido Materno</label>
              <ion-input (keypress)="soloLetras($event)" type="text" [(ngModel)]="apellidoMaternoPareja"
                name="modal_last_name_mother"></ion-input>
            </div>
          </ion-col>
          <ion-col size="12" size-md="6">
            <div class="campo">
              <label class="etiqueta">Teléfono</label>
              <ion-input (keypress)="soloNumeros($event)" type="tel" maxlength="10" inputmode="numeric"
                [(ngModel)]="telefonoPareja" name="modal_phone"></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-md="6">
            <div class="campo">
              <label class="etiqueta">Fecha de Nacimiento</label>
              <ion-input name="fechaNacimiento" #fechaModalInput type="date" placeholder="dd/mm/aaaa"
                [(ngModel)]="fechaNacimientoPareja" name="modal_birth_date">
                <ion-icon slot="end" name="calendar" class="calendar-icon"
                  (click)="abrirSelectorFecha(fechaModalInput)"></ion-icon>
              </ion-input>
            </div>
          </ion-col>
          <ion-col size="12" size-md="6">
            <div class="campo">
              <label class="etiqueta">Estado Civil</label>
              <ion-select [(ngModel)]="estadoCivilPareja" name="modal_marital_status" [disabled]="true">
                <ion-select-option [value]="2">Casado</ion-select-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
    <div class="boton-contenedor">
      <ion-button class="boton-volver" (click)="cerrarFormularioPareja()">Cancelar</ion-button>
      <ion-button class="boton-registrar" [disabled]="!puedeRegistrarPareja()"
        (click)="registrarPareja()">Registrar</ion-button>
    </div>
  </ion-card>
</div>