<ion-header>
  <ion-toolbar>
    <ion-img  (click)="logoFunction()" slot="start" src="./../../../assets/logoJaliezaNavbar.png" alt=""></ion-img>
    <!-- Contenedor para mantener equilibrio -->
    <div slot="end" *ngIf="isRegistrarCiudadano()" style="width: 70px;"></div>
    <ion-title class="tipografia" >{{ title }}</ion-title>
    <ion-buttons slot="end" *ngIf="!isRegistrarCiudadano()">
      <ion-menu-button></ion-menu-button> <!-- Botón de menú -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu  side="end" content-id="main-content"><!--Menu lateral-->
  <ion-content>
    <ion-list lines="none">
      <ion-item href="/crear-comunicado">
        <ion-label class="tipografia">Crear Comunicado</ion-label>
      </ion-item>
      <ion-item href="/buscar-ciudadano">
        <ion-label class="tipografia">Buscar Ciudadano</ion-label>
      </ion-item>
      <ion-item href="/registrar-ciudadano">
        <ion-label class="tipografia">Registrar Ciudadano</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
