ion-toolbar {
  display: flex;
align-items: center;
  --background: #EACCAD;


}



ion-img {
  width: 130px;
}
ion-title{
  color: black;
   text-align: center;
  flex-grow: 1;
  font-size: 2rem;

}


ion-menu-button {
  --color: purple;
   font-size: 5rem;/* Cambia a cualquier tono de morado */

}
.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}

.title-container {

}

