<app-navbar [title]="'Nombre del Ciudadano'"></app-navbar>
<ion-content>
  <div class="grid-wrapper">
    <ion-grid class="grid-center">
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="10">
          <div class="contenedor-formulario">
            <ion-header>
              <ion-toolbar class="cabeza">
                <ion-title class="titulo-formulario">Editar Cargos</ion-title>
              </ion-toolbar>
            </ion-header>

            <ion-grid class="grid-formulario">
              <!-- Selector de Cargo -->
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Seleccionar Cargo a Editar</ion-label>
                    <ion-select [(ngModel)]="cargoSeleccionadoId" (ionChange)="onCargoChange()">
                      <ion-select-option *ngFor="let cargo of cargos" [value]="cargo.id">
                        {{ cargo.nombre }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>

              <!-- Campos de cargo -->
              <ion-row>
                <!-- Orden -->
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label>Orden</ion-label>
                    <ion-select [(ngModel)]="ordenSeleccionado" (ionChange)="onInputChange()">
                      <ion-select-option *ngFor="let orden of ordenes" [value]="orden">{{ orden }}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>

                <!-- Nombre -->
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label>Nombre</ion-label>
                    <ion-select [(ngModel)]="nombreSeleccionado" (ionChange)="onInputChange()">
                      <ion-select-option *ngFor="let cargo of cargos" [value]="cargo.nombre">{{ cargo.nombre }}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>

                <!-- Fecha Inicio -->
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label position="stacked">Inicio</ion-label>
                    <ion-input [(ngModel)]="start_date" type="date" (ionChange)="onInputChange()" #fechaInicioInput>
                      <ion-icon slot="end" name="calendar" class="calendar-icon" (click)="abrirSelectorFecha(fechaInicioInput)"></ion-icon>
                    </ion-input>
                  </ion-item>
                </ion-col>

                <!-- Fecha Fin -->
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label position="stacked">Fin</ion-label>
                    <ion-input [(ngModel)]="end_date" type="date" (ionChange)="onInputChange()" #fechaFinInput>
                      <ion-icon slot="end" name="calendar" class="calendar-icon" (click)="abrirSelectorFecha(fechaFinInput)"></ion-icon>
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <!-- Estado -->
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Estado</ion-label>
                    <ion-select [(ngModel)]="estadoSeleccionado" (ionChange)="onInputChange()">
                      <ion-select-option *ngFor="let estado of estados" [value]="estado">{{ estado }}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

            <!-- Botones -->
            <div class="boton-contenedor">
              <ion-button class="boton-volver" (click)="volver()">Volver</ion-button>
              <ion-button class="boton-registrar" [disabled]="!actualizarHabilitado" (click)="actualizarCargo()">Actualizar</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<app-footer></app-footer>
