.grid-center{
margin-top: 30px;
}

.contenedor-formulario {
  width: 100%;
  height: 100%;
}

.cabeza {
  --background: #000000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-formulario {
  font-size: 2rem; /* Tamaño de fuente más grande */
  color: #FFFFFF; /* Color del texto del título */
}

.grid-formulario {
  background: #D9D9D9;
}

.etiqueta {
  font-size: 1.2rem; /* Tamaño de fuente más grande */
  color: #000000; /* Color del texto de las etiquetas */
}

ion-input, ion-select {
  --border-radius: 20px; /* Bordes redondeados para los campos de entrada */
  --background: #FFFFFF; /* Fondo blanco para los campos de entrada */
  color: #000000; /* Color del texto en los campos de entrada */
  font-size: 1rem; /* Tamaño de fuente para los campos de entrada */
}

ion-input {
  --border-width: 0px; /* Elimina el borde */
  border-bottom: none !important; /* Asegura que no haya línea */
  --highlight-background: transparent; /* Evita el resaltado al escribir */
  --highlight-color-focused: transparent; /* Elimina el color de enfoque */
}

.boton-contenedor {
  display: flex;
  background: #D9D9D9;
  justify-content: space-between; /* Distribuye los botones en extremos opuestos */
  width: 100%;
  margin: auto;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}

.boton-volver,
.boton-registrar {
  padding: 12px;
  font-size: 1rem;
  width: 200px;
  text-align: center;
  --border-radius: 20px; /* Bordes redondeados */
}

.boton-volver {
  --background: #F0DAC3;
  --color: #000000;
}

.boton-registrar {
  --background: #862471;
  --color: #FFFFFF;
}
