<app-navbar title="Registrar Ciudadano"></app-navbar>
<ion-content id="main-content">
  <div class="grid-wrapper">
    <ion-grid class="grid-center">
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="10">
          <div class="contenedor-formulario">
            <!-- <ion-header> -->
            <ion-toolbar class="cabeza">
              <ion-title class="titulo-formulario">Datos Generales</ion-title>
            </ion-toolbar>
            <!-- </ion-header> -->

            <form action="" method="post" (ngSubmit)="registrarCiudadano()">
              <ion-grid class="grid-formulario">
                <ion-row>
                  <ion-col size="12" size-md="4">
                    <div class="campo">
                      <label class="etiqueta">Nombres</label>
                      <ion-input (keypress)="soloLetras($event)" inputmode="text" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+"
                        type="text" [(ngModel)]="nombres" name="nombres"></ion-input>
                    </div>
                  </ion-col>
                  <ion-col size="12" size-md="4">
                    <div class="campo">
                      <label class="etiqueta">Apellido Paterno</label>
                      <ion-input (keypress)="soloLetras($event)" inputmode="text" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+"
                        type="text" [(ngModel)]="apellidoPaterno" name="apellidoPaterno"></ion-input>
                    </div>
                  </ion-col>
                  <ion-col size="12" size-md="4">
                    <div class="campo">
                      <label class="etiqueta">Apellido Materno</label>
                      <ion-input (keypress)="soloLetras($event)" inputmode="text" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+"
                        type="text" [(ngModel)]="apellidoMaterno" name="apellidoMaterno"></ion-input>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" size-md="4">
                    <div class="campo">
                      <label class="etiqueta">Teléfono</label>
                      <ion-input type="tel" maxlength="10" placeholder="Ingrese los 10 dígitos" [(ngModel)]="telefono"
                        name="telefono" (keypress)="soloNumeros($event)">
                      </ion-input>
                    </div>
                  </ion-col>
                  <ion-col size="12" size-md="4">
                    <div class="campo">
                      <label class="etiqueta">Fecha de Nacimiento</label>
                      <ion-input name="fechaNacimiento" #fechaInput type="date" [(ngModel)]="fechaNacimiento"
                        placeholder="dd/mm/aaaa" [attr.max]="hoy">
                        <ion-icon slot="end" name="calendar" class="calendar-icon"
                          (click)="abrirSelectorFecha(fechaInput)">
                        </ion-icon>
                      </ion-input>
                    </div>
                  </ion-col>
                  <ion-col size="12" size-md="4">
                    <div class="campo">
                      <label class="etiqueta">Estado Civil</label>
                      <ion-select [(ngModel)]="estadoCivil" name="estadoCivil" placeholder="Seleccione estado civil"
                        (ionChange)="onEstadoCivilChange()">
                        <ion-select-option [value]="1">Soltero</ion-select-option>
                        <ion-select-option [value]="2">Casado</ion-select-option>
                      </ion-select>
                    </div>
                  </ion-col>
                  <ion-col size="12" size-md="6">
                    <div class="campo">
                      <label class="etiqueta">Comentario</label>
                      <ion-input type="text" [(ngModel)]="comment" name="comment"></ion-input>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col *ngIf="estadosConPareja.includes(estadoCivil)" size="12">
                    <label class="etiqueta">
                      {{ estadoCivil === 2 ? 'Seleccione Pareja' : '' }}
                    </label>
                    <ion-button expand="block" class="boton-seleccionar-pareja"
                      (click)="mostrarBuscadorPareja = !mostrarBuscadorPareja">
                      {{ parejaSeleccionada ? parejaSeleccionada.name + ' ' + parejaSeleccionada.last_name_father + ' '
                      + parejaSeleccionada.last_name_mother : 'Seleccionar pareja' }}
                    </ion-button>
                    <!-- Buscador tipo modal inline -->
                    <div *ngIf="mostrarBuscadorPareja" class="buscador-contenedor">
                      <ion-searchbar [value]="busquedaPareja" (ionInput)="filtrarPersonasDirecto($event)"
                        placeholder="Buscar ciudadano">
                      </ion-searchbar>

                      <ion-list>
                        <ion-button expand="block" class="boton-registrar-pareja"
                          (click)="seleccionarPareja('registrar')">
                          ¿Pareja no encontrada? Regístrela
                        </ion-button>
                        <ion-item *ngFor="let persona of personasDisponibles" (click)="seleccionarPareja(persona)">
                          {{ persona.name }} {{ persona.last_name_father }} {{ persona.last_name_mother }}
                        </ion-item>

                      </ion-list>
                    </div>
                  </ion-col>


                </ion-row>
              </ion-grid>

              <div class="boton-contenedor">
                <ion-button class="boton-volver" (click)="volver()">Volver</ion-button>
                <ion-button class="boton-registrar" [disabled]="!isFormValid" type="submit">Registrar</ion-button>
              </div>
            </form>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<!-- Formulario registro pareja -->
<div class="overlay-pareja" *ngIf="mostrarFormularioPareja" (click)="cerrarFormularioPareja()">
  <ion-card class="formulario-emergente tarjeta-flotante" (click)="$event.stopPropagation()">
    <ion-card-header class="modal-cabeza">
      <ion-card-title class="modal-titulo">Registrar Pareja</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="registrarPareja()" #formPareja="ngForm">
        <ion-row>
          <ion-col size="12" size-md="6">
            <div class="campo">
              <label class="etiqueta">Nombres</label>
              <ion-input (keypress)="soloLetras($event)" type="text" [(ngModel)]="nombresPareja" name="nombresPareja"
                required></ion-input>
            </div>
          </ion-col>
          <ion-col size="12" size-md="6">
            <div class="campo">
              <label class="etiqueta">Apellido Paterno</label>
              <ion-input (keypress)="soloLetras($event)" type="text" [(ngModel)]="apellidoPaternoPareja"
                name="apellidoPaternoPareja" required></ion-input>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="6">
            <div class="campo">
              <label class="etiqueta">Apellido Materno</label>
              <ion-input (keypress)="soloLetras($event)" type="text" [(ngModel)]="apellidoMaternoPareja"
                name="apellidoMaternoPareja"></ion-input>
            </div>
          </ion-col>
          <ion-col size="12" size-md="6">
            <div class="campo">
              <label class="etiqueta">Teléfono</label>
              <ion-input (keypress)="soloNumeros($event)" type="tel" [(ngModel)]="telefonoPareja" maxlength="10"
                placeholder="Ingrese los 10 dígitos" name="telefonoPareja"></ion-input>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="6">
            <div class="campo">
              <label class="etiqueta">Fecha de Nacimiento</label>
              <ion-input (ngModelChange)="formatearFecha($event)" type="date" name="fechaNacimientoPareja" #fechaInput
                [(ngModel)]="fechaNacimientoPareja" placeholder="dd/mm/aaaa" [attr.max]="hoy">
                <ion-icon slot="end" name="calendar" class="calendar-icon" (click)="abrirSelectorFecha(fechaInput)">
                </ion-icon>
              </ion-input>
            </div>
          </ion-col>
          <ion-col size="12" size-md="6">
            <div class="campo">
              <label class="etiqueta">Estado Civil</label>
              <ion-select [(ngModel)]="estadoCivilPareja" name="estadoCivilPareja" placeholder="Solter@"
                [disabled]="estadoCivilParejaFijo" required>
                <ion-select-option [value]="1">Soltero</ion-select-option>
                <!-- agrega más opciones -->
              </ion-select>
            </div>
          </ion-col>
          <ion-col size="12" size-md="6">
            <div class="campo">
              <label class="etiqueta">Comentario</label>
              <ion-input type="text" [(ngModel)]="commentPareja" name="commentPareja"></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <div class="boton-contenedor">
          <ion-button class="boton-volver" (click)="cerrarFormularioPareja()">Cancelar</ion-button>
          <ion-button class="boton-registrar" [disabled]="!formPareja.valid" type="submit">Registrar</ion-button>
        </div>
      </form>


    </ion-card-content>

  </ion-card>
</div>