<app-navbar title="Crear Comunicado"></app-navbar>

<ion-content [fullscreen]="true" id="main-content" class="custom-content">
    <ion-grid class="grid-center">
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="10">
          <div class="contenedor-comunicado">
              <form action="" method="post">
                  <ion-label position="floating">Título:</ion-label>
                  <ion-input placeholder="Escribe aqui el titutlo de tu comunicado"
                  type="text"></ion-input>
                  <ion-label position="stacked">Descripción:</ion-label>
                  <ion-textarea rows="10" placeholder="Escribe aquí tu comunicado">
                  </ion-textarea>
              </form>
              <div class="boton-contenedor">
                <ion-button class="boton-volver">Volver</ion-button>
                <ion-button class="boton-registrar">Publicar</ion-button>
              </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

<app-footer></app-footer>
