<ion-content id="main-content" [fullscreen]="true">
  <div class="grid-wrapper">
    <ion-grid class="grid-center">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8" size-lg="5">
          <div class="login-box">

            <!-- Logo centrado -->
            <div class="logo-container">
              <img src="./../../assets/logoJaliezaNavbar.png" alt="Logo Jalieza" class="login-logo">
            </div>

            <!-- Título -->
            <div class="login-title">
              <h1>Iniciar Sesión</h1>
            </div>

            <form (ngSubmit)="login()" autocomplete="off">
              <!-- Correo electrónico -->
              <div class="login-row">
                <ion-label>Usuario o correo electrónico</ion-label>
                <ion-input type="email" [(ngModel)]="email" name="email" placeholder="Ingrese su usuario"
                  autocomplete="email">
                </ion-input>
              </div>

              <!-- Contraseña -->
              <div class="login-row">
                <ion-label>Contraseña</ion-label>
                <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Ingrese su contraseña"
                  [(ngModel)]="password" name="password" autocomplete="current-password">
                  <ion-icon *ngIf="password && password.length > 0"
                    [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" slot="end" class="eye-icon"
                    (click)="togglePassword()">
                  </ion-icon>
                </ion-input>
              </div>

              <!-- Botón de inicio de sesión -->
              <div class="login-row">
                <ion-button type="submit" expand="block" class="login-button app-btn-primary">
                  Iniciar sesión
                </ion-button>
              </div>
            </form>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>