<app-navbar  title="Ciudadanos"></app-navbar>
<ion-content id="main-content">
  <div class="grid-wrapper">
    <ion-grid class="grid-center">
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="10">
          <div class="contenedor-buscador">
            <ion-title class="titulo">Buscador</ion-title>

            <!-- Barra de búsqueda -->
            <ion-searchbar class="search-bar" placeholder="Buscar Ciudadano" [(ngModel)]="searchTerm" (ionInput)="filtrarCiudadanos()"></ion-searchbar>

            <!-- Contenedor de filtros -->
            <div class="filter-container">
              <ion-item lines="none" class="filter-item">
                <ion-label>Filtrar por:</ion-label>
                <ion-select [(ngModel)]="selectedFilter" (ionChange)="filtrarCiudadanos()">
                  <ion-select-option value="todos">Todos</ion-select-option>
                  <ion-select-option value="activo">Activos</ion-select-option>
                  <ion-select-option value="inactivo">Inactivos</ion-select-option>
                  <ion-select-option value="soltero">Solteros</ion-select-option>
                  <ion-select-option value="casado">Casados</ion-select-option>
                  <ion-select-option value="divorciado">Divorciados</ion-select-option>
                  <ion-select-option value="viudo">Viudos</ion-select-option>
                  <ion-select-option value="conCargos">Con Cargos</ion-select-option>
                  <ion-select-option value="sinCargos">Sin Cargos</ion-select-option>
                  <ion-select-option value="candidato">Candidato a cargo</ion-select-option>
                </ion-select>
              </ion-item>
              <!-- Filtro por cargo para "conCargos" -->
              <ion-item lines="none" class="filter-item" *ngIf="selectedFilter === 'conCargos'">
                <ion-label>Seleccionar Cargo:</ion-label>
                <ion-select [(ngModel)]="selectedCargo" (ionChange)="filtrarCiudadanos()">
                  <ion-select-option value="todos">Todos</ion-select-option>
                  <ion-select-option value="Alcalde">Alcalde</ion-select-option>
                  <ion-select-option value="Diputado">Diputado</ion-select-option>
                  <ion-select-option value="Senador">Senador</ion-select-option>
                  <ion-select-option value="Gobernador">Gobernador</ion-select-option>
                </ion-select>
              </ion-item>
              <!-- Filtro por cargo para "candidato" -->
              <ion-item lines="none" class="filter-item" *ngIf="selectedFilter === 'candidato'">
                <ion-label>Candidato a:</ion-label>
                <ion-select [(ngModel)]="selectedCandidatoCargo" (ionChange)="filtrarCiudadanos()">
                  <ion-select-option value="todos">Todos</ion-select-option>
                  <ion-select-option value="Alcalde">Alcalde</ion-select-option>
                  <ion-select-option value="Diputado">Diputado</ion-select-option>
                  <ion-select-option value="Senador">Senador</ion-select-option>
                  <ion-select-option value="Gobernador">Gobernador</ion-select-option>
                </ion-select>
              </ion-item>
            </div>

            <!-- Resultados -->
            <ion-grid>
              <ion-row>
                <ion-col sizeXs="12" sizeSm="12" sizeMd="4" sizeLg="3" sizeXl="2.4" *ngFor="let ciudadano of ciudadanosFiltrados">
                  <ion-card  (click)="verCiudadano(ciudadano.id)" >
                    <ion-card-content>
                      <ion-avatar>
                        <img src="../../../assets/fotoPerfil.png" />
                      </ion-avatar>
                      <ion-label>{{ ciudadano.name + " " + ciudadano.last_name_father + " " +
                      ciudadano.last_name_mother}}</ion-label>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<app-footer></app-footer>


